<h3>Bienvenido a <%= title %></h3>
<p>El portal donde podrá crear sus propios juegos!</p>

 <label>Buscar pregunta: </label>
           <form method="get" action="/quizes">
      <input type="text" name="search" value=""/>
      <input type="submit" value="Enviar">
      </form>
